:root{
    --bg-dark: #2F3E50 ;
    --bg-green: #49BB9E;
    --bg-gray: #3E546D;
}

.navbar{
    background-color: var(--bg-dark) !important;

}

#start-bootstrap,
#about{
    background-color: var(--bg-green);
}

.fa-star{
    color: white;
}

.start-divider::before{
    margin-right: 1.25rem;

}

.start-divider::after{
    margin-left: 1.25rem;

}

.start-divider::before,
.start-divider::after{
    content: '';
    display: inline-block;
    width: 10%;
    height: 3px;
    background-color: white;
    vertical-align: middle;
}

#start-bootstrap ul li{
    list-style-type: none;
   
}

#start-bootstrap ul li:not(#start-bootstrap ul li:first-child)::before{
    content: '-';
    display: inline-block;
    margin-right: 1.25rem;
}

#portafoglio .start-divider::before,
#portafoglio .start-divider::after,
#contact-me .start-divider::before,
#contact-me .start-divider::after{
    background-color: black;
}

#contact-me{
    background-color: white;
}

input.form-control,
textarea.form-control {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.btn-green{
    background-color: var(--bg-green);
    color: white;
}

footer{
    background-color: var(--bg-gray);
}

footer .fa-brands{
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    aspect-ratio: 1;
    cursor: pointer;
}

.f-text{
    background-color: var(--bg-dark);

}